{% extends 'base.html' %}
{% load static %}
{% block title %}List Tasks{% endblock title %}
{% block content %}


<div class="mt-4">
    <table class="table  table-bordered">
        <thead>
            <th>Date</th>
            <th>Name</th>
            <th>Description</th>
            <th>Employee</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for task in tasks %}

            <tr>
                <td>{{task.date}}</td>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.employee}}</td>
                <td><a href="{% url 'update_task' task.id %}">+</a></td>
                <td><a href="">-</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock content %}